@import "reset.css";

/* components */
@import "component/nav_bar.css";

/* screen */
@import "screen/enterence.css";
@import "screen/menu.css";
@import "screen/profile.css";

a {
  text-decoration: none;
}

body {
  font-family: "Nanum Pen Script", cursive;
  height: 98vh;
  width: 98vw;
}
