body {
  background-color: wheat;
}

.menu_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_menu {
  display: none;
}

.short_introduce {
  font-size: 45px;
  margin-top: 40px;
  padding: 12px;
}

.short_self_introduce {
  color: #20284a;
}

.menu_img-column {
  display: flex;
  justify-content: center;
}

.menu_img-column img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.profile,
.favorite,
.i_want,
.mention {
  padding-right: 36px;
  padding-bottom: 36px;
}

@keyframes img_bubble {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: none;
  }
}

.profile_link,
.favorite_link,
.i_want_link,
.mention_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img:hover,
.favorite img:hover,
.i_want img:hover,
.mention img:hover {
  animation: img_bubble 0.5s ease-in-out infinite;
  border: 5px solid tomato;
  box-sizing: border-box;
}

.profile_comment,
.favorite_comment,
.i_want_comment,
.mention_comment {
  font-size: 32px;
  padding: 8px 12px;
  color: #20284a;
}

.profile_comment:hover,
.favorite_comment:hover,
.i_want_comment:hover,
.mention_comment:hover {
  color: tomato;
}

.mobile_mode {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu_main {
    display: none;
  }
}

@media screen and (max-width: 456px) and (orientation: landscape) {
  .menu_main {
    display: none;
  }

  .mobile_info {
    display: none;
  }

  .mobile_mode {
    display: flex;
  }
}
