body {
  background-color: wheat;
}

.menu_main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.nav_menu {
  display: none;
}

.short_introduce {
  font-size: 45px;
  margin-top: 80px;
  padding: 12px;
}

@keyframes C_blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.short_introduce i {
  font-size: 40px;
  font-weight: 600;
  color: tomato;
  animation: C_blink 1.5s linear infinite;
}

.short_self_introduce {
  color: tomato;
}

.menu_img-column {
  display: flex;
  justify-content: center;
}

.menu_img-column img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.profile,
.favorite,
.i_want,
.mention {
  padding-right: 36px;
  padding-bottom: 36px;
}

@keyframes img_bubble {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: none;
  }
}

.profile_link,
.favorite_link,
.i_want_link,
.mention_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile.active img,
.favorite.active img,
.i_want.active img,
.mention.active img {
  animation: img_bubble 0.5s ease-in-out infinite;
  border: 5px solid tomato;
  box-sizing: border-box;
}

.profile_comment,
.favorite_comment,
.i_want_comment,
.mention_comment {
  font-size: 32px;
  padding: 8px 12px;
  color: #20284a;
}

.profile.active .profile_comment,
.favorite.active .favorite_comment,
.i_want.active .i_want_comment,
.mention.active .mention_comment {
  color: tomato;
}

.mobile_mode {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu_main {
    display: none;
  }
}
